@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jay Gervais<br />
    Calgary, Alberta<br />
    <abbr title="Phone">P:</abbr>
    403-479-8693
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jay@jaygervais.ca">jay@jaygervais.ca</a><br />
    <strong>Marketing:</strong> <a href="mailto:jay@jaygervais.ca">jay@jaygervais.ca</a>
</address>