@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="title">Halloween Superstore</h1>
    <p class="lead">Get the top items for a frightening experience</p>
    <p>
        <a href="~/Home/Products" class="btn btn-primary btn-lg">See Our Products</a>
    </p>
</div>
